# Python
*.pyc
*.pyo
*.pyd
__pycache__
*.so
*.egg
*.egg-info
dist
build
.eggs

ngrok/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media
staticfiles

# Virtual Environment
venv/
env/
.venv/
.env/

# PyCharm
.idea/

# VSCode
.vscode/

# mypy
.mypy_cache/

# Coverage reports
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover

# Jupyter Notebook
.ipynb_checkpoints

# local development settings
local_settings.py
